:root{
    --royal_blue:#4169E1;
    --light_royal_blue:rgb(91, 126, 232);
    --menu_color: #222222;
}

.services{
    height: 110vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.services-title{
    color: white;
    font-size: 2.3em;
    margin: 1.7em 0 0 0;
    opacity: 0.5;
    filter: blur(0.1em);
    transform: translateX(-100%);
    transition: 1s;
}
.services-title1{
    color: white;
    font-size: 2.3em;
    margin: 1.7em 0 0 0;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.services-cards-container{
    height: 30em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

@media only screen and (max-width : 1000px) and (min-width : 700px){
    .services{
        height: 100vh;
    }
    .services-title{
        margin: 0 0 0 0;
        font-size: 2.5em;
    }
    .services-title1{
        margin: 0 0 0 0;
        font-size: 2.5em;
    }
    .services-cards-container{
        height: 41em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width : 699px) and (min-width : 450px){
    .services{
        height: 130vh;
    }
    .services-title{
        margin: 1em 0 0.5em 0;
        font-size: 2.5em;
    }
    .services-title1{
        margin: 1em 0 0.5em 0;
        font-size: 2.5em;
    }
    .services-cards-container{
        height: 42em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0.5em;
    }
}
@media only screen and (max-width : 449px) and (min-width : 360px){
    .services{
        height: 100em;
    }
    .services-title{
        margin: 1em 0 0 0;
        font-size: 2.5em;
    }
    .services-title1{
        margin: 1em 0 0 0;
        font-size: 2.5em;
    }
    .services-cards-container{
        height: 81em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5em;
    }
}
@media only screen and (max-width : 359px){
    .services{
        height: 250vh;
    }
    .services-title{
        margin: 0 0 0.5em 0;
        font-size: 2.5em;
    }
    .services-title1{
        margin: 0 0 0.5em 0;
        font-size: 2.5em;
    }
    .services-cards-container{
        height: 81em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5em;
    }
}